<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>page de teste</title>
</head>
<body>

    <h1>Page de tete</h1>

    <div class="" style="margin: 10px; border: 1px solid black; background: #4e555b;">
        <h2>teste de {{ title }}.</h2>

        <p>
            {{ test1 }}
        </p>
    </div>

</body>
</html>