{% extends 'base.html.twig' %}

{% block title %}Manga{% endblock %}

{% block base_nave %}
    <a class="nav-item nav-link" href="{{ path('core') }}">Home</a>
    <a class="nav-item nav-link active" href="{{ path('manga_index') }}">Mangas</a>
    <a class="nav-item nav-link" href="#">Animes</a>
    <a class="nav-item nav-link" href="#">Membres</a>
    <a class="nav-item nav-link" href="#">Administration</a>
{% endblock %}

{% block body %}
    <div class="col-lg-3 left-col">
        <div class="user well">
            <div class="panel panel-success">
                <div class="panel-heading">Zone Utilisateur</div>
                <div class="panel-body">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label for="username">Nom d'Utilisateur :</label>
                            <input type="text" id="username" name="_username" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="text" id="password" name="_password" class="form-control" />
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> On entre
                        </button>
                        <a href="#" class="btn btn-success">Inscription</a>
                    </form>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading"> Liste des genres</div>
                <div class="panel-body link_genre">
                    <ul class="list-unstyled list-inline row">
                        <li class="col-lg-4"><a href="btn btn-primary">item_1</a></li>
                        <li class="col-lg-4"><a href="btn btn-primary">item_3ekelrklrerjl</a></li>
                        <li class="col-lg-4"><a href="btn btn-primary">item_2</a></li>
                        <li class="col-lg-4"><a href="btn btn-primary">item_ekelrklrerjl</a></li>
                        <li class="col-lg-4"><a href="btn btn-primary">item_3</a></li>
                        <li class="col-lg-4"><a href="btn btn-primary">item_ekelrklrerjl</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 right-col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('core') }}">Home</a></li>
                {% block breadcrump %}{% endblock %}
            </ol>
        </nav>

        {% block manga_body %}{% endblock %}
    </div>
{% endblock %}